<p>
	{% if product.variant is defined %}
		{{product.variant}}
	{% endif %}
</p>
<p>
	{% if product.variant1 is defined %}
		{{product.variant1}}
	{% endif %}
</p>
<p>
	{% if product.variant2 is defined %}
		{{product.variant2}}
	{% endif %}
</p>
