{% extends "base.html.twig" %}

{% block body %}

	<div class="w-[70%] mx-auto flex flex-wrap gap-5">

		<div class="w-full mt-20 flex justify-between items-end">
			<p class="text-2xl">
				Antal artiklar:
				{{ articleAmount }}
			</p>
			<form action="/filter" method="GET">
				<select name="sortingmethod" class="p-4 rounded-md bg-blue-500 text-white" onchange="this.form.submit()">
					<option value="alphabetical" selected>Välj sorteringsmetod</option>
					<option value="alphabetical">Bokstavsordning</option>
					<option value="lowtohigh">Pris - Lågt till högt</option>
					<option value="hightolow">Pris - Högt till lågt</option>
				</select>
			</form>
		</div>

		{% for category in data %}
			{# Pretty ugly way of getting the category #}
			{# ...but it works #}
			{% set productCategory = category|first %}
			{# Noticed twig has some nice functionality like "capitalize" so I wanted to use it somewhere #}
				<div id="category-divider" class="w-full p-4 rounded-xl bg-blue-500 text-white text-center text-3xl"> {{ productCategory.artikelkategorier_id is defined ? productCategory.artikelkategorier_id|capitalize : "OSORTERAT"|capitalize  }}
			</div>
			{# Loop through the product array #}
			{% for product in category %}
				<div
					class="w-[30%] min-w-[20rem] mx-auto py-5 bg-gray-100 text-center border-solid border-[1px] border-spacing-1 border-sky-300 rounded-xl shadow-md">

					{# Show image if it's defined #}
					<div
						id="image-box" class="h-[12rem] w-[12rem] overflow-hidden mx-auto py-4 flex">
						{# No image found image was added hastily and therefore jpg, png would've been better #}
						<img src="{{ product.bild.url is defined ? product.bild.url : asset('img/no_image_available.jpg') }}" class="object-contain mx-auto" alt="{{ product.bild.alt is defined ? product.bild.alt : "Missing picture"}}">
					</div>

					{# Information is split up in partials for readability #}
					{% include '/product/_productinfo_partial.html.twig' %}

				</div>
			{% endfor %}
		{% endfor %}
	</div>


{% endblock %}
